@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  width: 90%;
  margin: auto;
}
